<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Central Theater Wine Shoppe" %></title>
    
    <%= stylesheet_link_tag "normalize", "style", "flexslider" %>
    <%= javascript_include_tag  "all" %>
  </head>
  
  <body class="<%= page_classes %>">
    <header class="name">Central Theater Wine Shoppe
    </header>
    <%= yield %>
    <footer>
      <div class="leftCol">
        Central Theater Wine Shoppe<br>
        212 Sewickley Ave.<br>
        Herminie, PA 15637<br>
        724-835-1122
      </div>
      <div class="rightCol">
        Hours:<br>
        M-F: 11-7<br>
        Sat: 10-7<br>
        Sun: Closed<br>
      </div>
      <div class="facebook">
        <p>Check us out on facebook!</p>
        <a href="facebook.com/centraltheaterwine" target="_blank"><img src="images/facebookicon.png" border="0" alt="facebook icon" /></a><br>
      </div>
    </footer>
  </body>
</html>