<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Sewickley Area Civic and Business Association" %></title>
    
    <%= stylesheet_link_tag "normalize", "style", "flexslider" %>
    <%= javascript_include_tag  "all" %>
    <%= javascript_include_tag  "slider" %>
  </head>
  
  <body class="<%= page_classes %>">
    <header class="name">
      <div class="mining"></div>
      <div class="logo">
        Sewickly Area CBA
      </div>
      <div class="sublogo">
        Civic & Business Association
      <div>
    </header>
    <%= yield %>
    <footer>
      <div class="leftCol">
        Sewickley Area Civic and Business Association<br>
        <br>
        <br>
      </div>
      <div class="facebook">
        <p>Check us out on facebook!</p>
        <a href="http://facebook.com/sewickleyareacba" target="_blank"><img src="images/facebookicon.png" border="0" alt="facebook icon" /></a><br>
      </div>
    </footer>
  </body>
</html>