%nav
  %ul
    %li= link_to "Home", '#vision'
    %li= link_to "Mission", '#mission'
    %li= link_to "Events", "#events"
    %li= link_to "Members", "#members"
    %li= link_to "Contact Us", "#contact"
    %li= link_to "History", "#history"
