%header#page
  %aside
    = partial "menu"
%main
  %section.page.vision#vision
    = partial "vision"
  %section.page.mission#mission
    = partial "mission"
  %section.page.members#members
    = partial "members"
  %section.page.businesses#businesses
    = partial "businesses"
  %section.page.events#events
    = partial "events"
  %section.page.contact#contact
    = partial "contact"
  %section.page.history#history
    = partial "history"






